<h1>{{userTitle}}</h1>
<div>
	E-Mail : <input type="text" pInputText [(ngModel)]="user.email" placeholder="E-Mail"/><br>
	Password : <input type="password" pPassword [(ngModel)]="user.password" placeholder="Password" /> <br>
	Name : <input type="text" pInputText [(ngModel)]="user.name" placeholder="name"><br>
	Age : <input type="text" pInputText [(ngModel)]="user.age" placeholder="Age"><br>
	DEPT :
	<p-dropdown [options]="items" [(ngModel)]="selectItem" (onChange)="onChangeDropdown($event)"></p-dropdown>
	<!-- 
	<select [(ngModel)]="selectDept" (ngModelChange)="onChangeDropdown($event)">
		<option *ngFor="let dept of depts" [ngValue]="dept">{{dept.deptNameType}}</option>
	</select>
	-->
</div>
<div>
	<button pButton type="button" label="Create User" (click)="onCreateUser()"></button>
	<button pButton type="button" label="Back" (click)="goBack()"></button>
</div>

<p-growl [value]="msgs"></p-growl>