<h1>{{userTitle}}</h1>
<div>
	E-Mail : <input [(ngModel)]="user.email" placeholder="E-Mail"><br>
	Password : <input [(ngModel)]="user.password" placeholder="Password"><br>
	Name : <input [(ngModel)]="user.name" placeholder="name"><br>
	Age : <input [(ngModel)]="user.age" placeholder="Age"><br>
	DEPT :
	<select [(ngModel)]="selectDept" (ngModelChange)="onChangeDropdown($event)">
		<option *ngFor="let dept of depts" [ngValue]="dept">{{dept.deptNameType}}</option>
	</select>
</div>
<div>
	<button (click)="onCreateUser()">Create User</button>
	<button (click)="goBack()">Back</button>
</div>