<!-- 
<h1>{{userTitle}}</h1>
<div class="grid grid-pad">
	<div *ngFor="let user of users | activePipe" (click)="gotoDetail(user)" class="col-1-4">
		<div class="module hero">
			<h4>{{user.name}}</h4>
		</div>
	</div>
</div>
-->

<p-dataTable [value]="users" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
	<header>User List</header>
	<p-column field="name" header="Name"></p-column>
    <p-column field="email" header="Email"></p-column>
    <p-column field="age" header="Age"></p-column>
    <p-column field="dept.deptNameType" header="Dept"></p-column>
    <p-column styleClass="col-button">
    	<template pTemplate type="header">
            <span>Info</span>
        </template>
    	<template let-user="rowData" pTemplate type="body">
            <button type="button" pButton (click)="gotoDetail(user)" icon="fa-search"></button>
        </template>
    </p-column>
</p-dataTable>