<!-- 
<h1>{{userTitle}}</h1>
<div class="grid grid-pad">
	<div *ngFor="let user of users | activePipe" (click)="gotoDetail(user)" class="col-1-4">
		<div class="module hero">
			<h4>{{user.name}}</h4>
		</div>
	</div>
</div>
-->

<p-dataGrid [value]="users" [paginator]="true" [rows]="4">
	<header>User List</header>
    <template let-user>
    	<div style="padding:3px" class="ui-g-12 ui-md-3" (click)="gotoDetail(user)">
    		<p-panel header="{{user.email}}" [style]="{'text-align':'center'}">
	    		<div>
	    			<img src="app/resources/imgs/user.png">
					<h4>{{user.name}}</h4>
				</div>
            </p-panel>
    	</div>
    </template>
</p-dataGrid>