<h1>{{userTitle}}</h1>
<div>
	E-Mail : <input [(ngModel)]="user.email"><br>
	Password : <input [(ngModel)]="user.password"><br>
	Name : <input [(ngModel)]="user.name"><br>
	Age : <input [(ngModel)]="user.age"><br>
	DEPT :
	<select [(ngModel)]="selectDept" (ngModelChange)="onChangeDropdown($event)">
		<option *ngFor="let dept of depts" [ngValue]="dept">{{dept.value}}</option>
	</select>
</div>
<div>
	<button (click)="onUpdateUser()">Modify User</button>
	<button (click)="onDeleteUser(); $event.stopPropagation()">Delete User</button>
</div>